@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Nunito:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;800&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .input {
    @apply w-full rounded-full border border-lightGray bg-gray px-[10px] py-[8px] outline-none placeholder:text-sm;
  }
}
